<div class="container">
    <h1>Alumnos</h1>
    <h4>Esta es la pagina para Alumnos</h4>
    <hr>

    <div class="table-responsive">
        <div class="d-grid gap-2 d-md-block">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a ng-href="#!/alumnos/nuevo" class="btn btn-sm btn-primary">Evaluación</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Teléfono</th>
                <th scope="col" class="text-center">Dirección</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="alumno in alumnos | limitTo:position | limitTo:-5">
                <th scope="row" class="text-center">{{ alumno._id }}</th>
                <td>{{ alumno.nombre }}</td>
                <td class="text-center">{{ alumno.telefono  | telefono }}</td>
                <td class="text-truncate">{{ alumno.direccion }}</td>
                <td>
                    <a ng-href="#!/alumnos/{{ alumno._id }}" class="btn btn-sm btn-link">Ver Alumno</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" ng-class="{ 'disabled': hasDisabled('prev') }" ng-click="prevPage()">Anterior</button>
        <button class="btn btn-primary" type="button" ng-class="{ 'disabled': hasDisabled('next') }" ng-click="nextPage();">Siguiente</button>
    </div>
</div>