<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 01</title>

    <link rel="stylesheet" href="./../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="./../bower_components/angular/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ "Hola Mundo desde AngularJS" }}</h1>
        <hr>


        <div class="row justify-content-md-center">
            <div class="col-10">
                <h2>Filtros :: Filters</h2><hr>

                <code>
                    <h5>Filtros para STRINGs</h5>
                    <ul>
                        <li>Sin Filtro: {{ "MaUrO" }}</li>
                        <li>Con Uppercase: {{ "MaUrO" | uppercase }}</li>    
                        <li>Con Lowercase: {{ "MaUrO" | lowercase }}</li>
                    </ul>
                </code>
        
                <code>
                    <h5>Filtros para Monedas</h5>
                    <ul>
                        <li>Sin Filtro: {{ 1350 }}</li>
                        <li>Con Currency: {{ 1350 | currency }}</li>    
                        <li>Con Currency-Param: {{ 1350 | currency:"ARS " }}</li>
                    </ul>
                </code>
        
                <code>
                    <h5>Filtro para Números</h5>
                    <ul>
                        <li>Sin Filtro: {{ 1350000 }}</li>
                        <li>Con Number: {{ 1350000 | number }}</li>
                    </ul>
                </code>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-10">
                <h2>ng-model</h2><hr>

                <p>
                    Su nombre: <code>{{ nombre }}</code><br>
                    Su nombre w/Filtro: <code>{{ nombre | uppercase }}</code><br>
                    <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
                </p>

                <p>
                    País Seleccionado: <code>{{ pais }}</code><br>
                    <select class="form-control" ng-model="pais">
                        <option value="1">Costa Rica</option>
                        <option value="2">México</option>
                        <option value="3">Colombia</option>
                    </select>
                </p>

                <p>
                    Opciones Seleccionadas:<br>
                    Valor Opcion 1: <code>{{ opt1 }}</code><br>
                    Valor Opcion 2: <code>{{ opt2 }}</code><br>
                    <ul>
                        <li><input type="checkbox" ng-model="opt1"> Opcion 1</li>
                        <li><input type="checkbox" ng-model="opt2"> Opcion 2</li>
                    </ul>
                </p>

                <p>
                    Genero seleccionado: <code>{{ genero }}</code><br>
                    <ul>
                        <li><input type="radio" name="genero" value="M" ng-model="genero"> Masculino</li>
                        <li><input type="radio" name="genero" value="F" ng-model="genero"> Femenino</li>
                    </ul>
                    
                </p>
            </div>
        </div>
    </div>
</body>
</html>